---
layout: blank.njk
title: Contact us | lexicoi
postTitle: Contact us
lastModifiedDate: October 1st, 2018
---

<article class="bg-black helvetica pa3 pa5-ns ph7-l white">
  <h1 class="f3 f1-m f-headline-l">Contact us</h1>
  <div class="f5 f4-ns ph3">
    Have a question, comment or concern?
    <div class="b">help us stay centered on improvement and drop us a line below.</div>
  </div>
</article>

<article class="helvetica pa3 pa5-ns ph7-l">
  <div class="outline-ns flex flex-wrap pv4">
    <div class="w-100">
      <form
         class="measure center"
         action="https://forms.zohopublic.com/tabethnkangoh/form/ContactForm/formperma/hwocUUwkk_v8DHBf2jVCihivp735TyDuL-HcrAkPTk0/htmlRecords/submit"
         name="form"
         id="form"
         method="POST"
         accept-charset="UTF-8"
         enctype="multipart/form-data">
        <fieldset id="sign_up" class="ba b--transparent ph0 mh0">
          <legend class="f4 fw6 ph0 mh0">Contact Form</legend>
          <div class="mt3">
            <label class="db fw6 lh-copy f6" for="name">First Name</label>
            <input class="b pa2 input-reset ba bg-transparent w-100"
                   type="text"
                   name="Name_First">
          </div>
          <div class="mt3">
            <label class="db fw6 lh-copy f6" for="name">Last Name</label>
            <input class="b pa2 input-reset ba bg-transparent w-100"
                   type="text"
                   name="Name_Last">
          </div>

          <div class="mv3">
            <label class="db fw6 lh-copy f6" for="email">Email</label>
            <input class="b pa2 input-reset ba bg-transparent w-100"
                   type="text"
                   name="Email">
          </div>
          <div class="mv3">
            <label class="db fw6 lh-copy f6" for="message">Message</label>
            <textarea class="pa2 input-reset ba bg-transparent h4 w-100"
                      text="text"
                      name="MultiLine">
            </textarea>
          </div>

        </fieldset>
        <div class="">
          <input class="b ph3 pv2 input-reset ba b--black bg-transparent grow pointer f6 dib"
                 type="submit"
                 value="Submit">
        </div>
      </form>
    </div>
  </div>
</article>
