<!-- Blog Grid Section -->
<div class="u-bg-light-blue-50">
  <div class="container u-space-3">
    <!-- Title -->
    <div class="w-md-80 w-lg-50 text-center mx-auto mb-9">
      <span class="u-label u-label--sm u-label--success mb-2">News</span>
      <h2 class="text-primary">Read our <span class="font-weight-bold">news &amp; blogs</span></h2>
      <p>Our duty towards you is to share our experience we're reaching in our work path with you.</p>
    </div>
    <!-- End Title -->

    <!-- News Carousel -->
    <div class="js-slick-carousel u-slick u-slick--equal-height u-slick--gutters-2"
         data-slides-show="4"
         data-slides-scroll="1"
         data-pagi-classes="text-center u-slick__pagination mt-7 mb-0"
         data-responsive='[{
           "breakpoint": 1200,
           "settings": {
             "slidesToShow": 3
           }
         }, {
           "breakpoint": 992,
           "settings": {
             "slidesToShow": 2
           }
         }, {
           "breakpoint": 768,
           "settings": {
             "slidesToShow": 2
           }
         }, {
           "breakpoint": 554,
           "settings": {
             "slidesToShow": 1
           }
         }]'>
      <!-- Blog Grid -->
      <div class="js-slide d-flex align-items-start flex-column w-100 bg-white rounded p-5">
        <!-- Info -->
        <small class="d-block text-muted mb-2">April 15, 2018</small>
        <h3 class="h5">
          <a href="#">InVision design forward fund</a>
        </h3>
        <p>Clark Valberg is the founder and CEO of InVision.</p>
        <!-- End Info -->

        <div class="w-100 mt-auto">
          <hr>
          <!-- Author -->
          <div class="media">
            <div class="d-flex mr-3">
              <img class="img-fluid u-sm-avatar rounded-circle" src="../../assets/img/100x100/img1.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <h4 class="d-inline-block mb-0">
                <a class="d-block font-size-13" href="../blog/single-article-classic.html">Andrea Gard</a>
              </h4>
            </div>
          </div>
          <!-- End Author -->
        </div>
      </div>
      <!-- End Blog Grid -->

      <!-- Blog Grid -->
      <div class="js-slide d-flex align-items-start flex-column w-100 bg-white rounded p-5">
        <!-- Info -->
        <small class="d-block text-muted mb-2">April 22, 2018</small>
        <h3 class="h5">
          <a href="#">Announcing a plan for small teams</a>
        </h3>
        <p>We've always believed that by providing a space</p>
        <!-- End Info -->

        <div class="w-100 mt-auto">
          <hr>
          <!-- Author -->
          <div class="media">
            <div class="d-flex mr-3">
              <img class="img-fluid u-sm-avatar rounded-circle" src="../../assets/img/100x100/img3.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <h4 class="d-inline-block mb-0">
                <a class="d-block font-size-13" href="../blog/single-article-classic.html">James Austin</a>
              </h4>
            </div>
          </div>
          <!-- End Author -->
        </div>
      </div>
      <!-- End Blog Grid -->

      <!-- Blog Grid -->
      <div class="js-slide d-flex align-items-start flex-column w-100 bg-white rounded p-5">
        <!-- Info -->
        <small class="d-block text-muted mb-2">April 30, 2018</small>
        <h3 class="h5">
          <a href="#">Design principles</a>
        </h3>
        <p>The biggest collections of design principles on the internet</p>
        <!-- End Info -->

        <div class="w-100 mt-auto">
          <hr>
          <!-- Author -->
          <div class="media">
            <div class="d-flex mr-3">
              <img class="img-fluid u-sm-avatar rounded-circle" src="../../assets/img/100x100/img2.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <h4 class="d-inline-block mb-0">
                <a class="d-block font-size-13" href="../blog/single-article-classic.html">Charlotte Moore</a>
              </h4>
            </div>
          </div>
          <!-- End Author -->
        </div>
      </div>
      <!-- End Blog Grid -->

      <!-- Blog Grid -->
      <div class="js-slide d-flex align-items-start flex-column w-100 bg-white rounded p-5">
        <!-- Info -->
        <small class="d-block text-muted mb-2">May 1, 2018</small>
        <h3 class="h5">
          <a href="#">Touch yourself</a>
        </h3>
        <p>Everyone's are different, and they can even change</p>
        <!-- End Info -->

        <div class="w-100 mt-auto">
          <hr>
          <!-- Author -->
          <div class="media">
            <div class="d-flex mr-3">
              <img class="img-fluid u-sm-avatar rounded-circle" src="../../assets/img/100x100/img4.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <h4 class="d-inline-block mb-0">
                <a class="d-block font-size-13" href="../blog/single-article-classic.html">Scott Levine</a>
              </h4>
            </div>
          </div>
          <!-- End Author -->
        </div>
      </div>
      <!-- End Blog Grid -->

      <!-- Blog Grid -->
      <div class="js-slide d-flex align-items-start flex-column w-100 bg-white rounded p-5">
        <!-- Info -->
        <small class="d-block text-muted mb-2">May 3, 2018</small>
        <h3 class="h5">
          <a href="#">Respect always comes first</a>
        </h3>
        <p>The past years have been remarkable for web technologies.</p>
        <!-- End Info -->

        <div class="w-100 mt-auto">
          <hr>
          <!-- Author -->
          <div class="media">
            <div class="d-flex mr-3">
              <img class="img-fluid u-sm-avatar rounded-circle" src="../../assets/img/100x100/img1.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <h4 class="d-inline-block mb-0">
                <a class="d-block font-size-13" href="../blog/single-article-classic.html">Andrea Gard</a>
              </h4>
            </div>
          </div>
          <!-- End Author -->
        </div>
      </div>
      <!-- End Blog Grid -->

      <!-- Blog Grid -->
      <div class="js-slide d-flex align-items-start flex-column w-100 bg-white rounded p-5">
        <!-- Info -->
        <small class="d-block text-muted mb-2">May 7, 2018</small>
        <h3 class="h5">
          <a href="#">5 basic tips for illustrating</a>
        </h3>
        <p>Tips and tricks that most people wouldn't highlight when illustrating.</p>
        <!-- End Info -->

        <div class="w-100 mt-auto">
          <hr>
          <!-- Author -->
          <div class="media">
            <div class="d-flex mr-3">
              <img class="img-fluid u-sm-avatar rounded-circle" src="../../assets/img/100x100/img4.jpg" alt="Image Description">
            </div>
            <div class="media-body">
              <h4 class="d-inline-block mb-0">
                <a class="d-block font-size-13" href="../blog/single-article-classic.html">Scott Levine</a>
              </h4>
            </div>
          </div>
          <!-- End Author -->
        </div>
      </div>
      <!-- End Blog Grid -->
    </div>
    <!-- End News Carousel -->
  </div>
</div>
<!-- End Blog Grid Section -->
