<!-- ========== FOOTER ========== -->
<footer class="position-absolute-bottom-0--lg">
  <div class="container">
    <div class="d-flex justify-content-between align-items-center u-space-1">
      <!-- Copyright -->
      <p class="small text-dark mb-0">&copy; lexicoi. 2018.</p>
      <!-- End Copyright -->
    </div>
  </div>
</footer>
<!-- ========== END FOOTER ========== -->
