<footer class="flex flex-wrap sans-serif bt mw9 center ph7-l ph3 pt4">
  <div class="flex flex-wrap w-100 pv5">
    <a class="w-50-ns w-100 f5 f4-ns">
      <div class="w-75-ns w-100 pb0-ns pb4">
        <div aria-label="lexicoi" class="pv2">
          <img src="../../assets/svg/logos/lexicoi.svg" alt="Logo">
        </div>
        <div class="w-100">
          Our goals are to make teaching simpler, learning easier, and helping your children more accessible. We are a 501(c)3 non-profit organization helping you stay centered on improvement.
        </div>
      </div>
    </a>
    <div class="w-50-ns w-100 flex flex-wrap">
      <a class="db link dim f5 f4-ns">
      </a>
      <div class="flex flex-column ph4 w-auto-ns w-100 pv0-ns pv3">
        <a class="db b">Organization</a>
        <a href="/organization/terms-of-service" class="pv1 black">Terms</a>
        <a href="/organization/privacy-policy" class="pv1 black">Privacy</a>
        <a href="/organization/disclaimer" class="pv1 black">Disclaimer</a>

      </div>
      <div class="flex flex-column ph4 w-auto-ns w-100 pv0-ns pv3">
        <a href="/about" class="db b black no-underline">About</a>
        <a href="/about/contact" class="pv1 black">Contact</a>
      </div>
    </div>
  </div>

  <div id="footer-copyright" class="w-100 pv3 ">
    <span class="fl-ns">
      © 2019 lexicoi. All rights reserved.
    </span>
    <span class="fr-ns">
      <a href="https://twitter.com/lexicoiorg" class="di black">twitter</a> |
      <a href="http://github.com/lexicoi" class="di black">github</a> |
      <a href="https://www.facebook.com/lexicoi.org/" class="di black"> facebook</a>
    </span>
  </div>
</footer>
