<!-- ========== HEADER ========== -->
<header id="header" class="u-header u-header--bg-transparent u-header--abs-top mt-3">
  <div class="u-header__section">
    <div class="container">
      <!-- Nav -->
      <nav class="navbar navbar-expand u-header__navbar py-2">
        <!-- Logo -->
        <a class="navbar-brand u-header__navbar-brand" href="/"
          aria-label="lexicoi">
          <img src="./../../assets/svg/logos/lexicoi.svg" alt="lexicoi Logo">
        </a>
        <!-- End Logo -->
      </nav>
      <!-- End Nav -->
    </div>
  </div>
</header>
<!-- ========== END HEADER ========== -->
