<header class="helvetica bg-black w-100 pt3">
    <nav class="mw9 center w-100 dn-l dn-w w-100 tc white z-3">
        <input type="checkbox" id="navigation" class="r-nav-activate absolute dn">
        <label for="navigation" class="dn-ns pointer w2 fr mr4 mr5-ns">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" focusable="false" width="100%" height="100%" style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);" preserveAspectRatio="xMidYMid meet" viewBox="0 0 1536 1280"><path d="M1536 1088v128q0 26-19 45t-45 19H64q-26 0-45-19t-19-45v-128q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19H64q-26 0-45-19T0 704V576q0-26 19-45t45-19h1408q26 0 45 19t19 45zm0-512v128q0 26-19 45t-45 19H64q-26 0-45-19T0 192V64q0-26 19-45T64 0h1408q26 0 45 19t19 45z" fill="white"></path><rect x="0" y="0" width="1536" height="1280" fill="rgba(0, 0, 0, 0)"></rect></svg>
        </label>
        <div class="r-nav w-100 overflow-hidden f3 pb3">
            <div class="mt5">
                <a href="/" class="flex items-center ph2-ns hover-blue">
                    <span class="ph2">Home</span>
                </a>

                <a href="/solutions" class="flex items-center ph2-ns hover-blue">
                    <span class="ph2">Solutions</span>
                </a>

                <div class="flex ml2">
                    <a href="/donate" class="flex bw0 no-underline br2 black bg-white ph3 pv2 fr f6">
          Donate
        </a>
                </div>
            </div>
        </div>
    </nav>

    <nav class="mw9 center w-100 pt2 ph7-l ph3 bg-black dn db-ns">
        <a class="flex flex-justify no-underline" href="/" aria-label="Lexicoi">
            <img src="../../assets/svg/logos/lexicoi-white.svg" alt="Lexicoi Logo">
        </a>

        <div class="flex flex-justify f5 fw4 white pv3">
            <a href="/" class="flex items-center white no-underline ph2">
                <span class="ph2">Home</span>
            </a>

            <div class="flex items-center flex-wrap ph2-ns hover-blue hide-child relative">
                <a href="/solutions" class="flex items-center white no-underline ph2">
                    <span class="ph2 white">Solutions</span>
                </a>
                <div class="w-90 absolute child bg-white top-2 ph2 pv2 bt bw2 b--blue">
                    <a href="/solutions/rankables" class="black b f6 no-underline">rankables</a>
                </div>
            </div>

            <a href="/donate" class="no-underline br2 black bg-white ph3 pv2 fr f6 ml2">
        Donate
      </a>
        </div>
    </nav>
</header>
