<!doctype html>
<html lang="en">
{% include "./partials/head.njk" %}

<body>
{% include "./partials/skippy.njk" %}
{% include "./partials/header-simple.njk" %}
{% block body %}{% endblock %}
{% include "./partials/footer-simple.njk" %}
{% include "./partials/scripts.njk" %}
</body>
</html>
