---
layout: blank.njk
title: Donate | lexicoi
postTitle: Donate
lastModifiedDate: October 1st, 2018
---

<article class="bg-black helvetica pa3 pa5-ns ph7-l white">
  <h1 class="f3 f1-m f-headline-l">Donate</h1>
</article>

<article class="helvetica pa3 pa5-ns ph7-l">
  <iframe
         width="100%"
         height="1200"
         onload="resizeIframe(this);"
         src="https://zohosecurepay.com/checkout/fndc427-bhr81koo0dmgb/Donate"
         style="border:none;">
  </iframe>
</article>
