---
layout: blank.njk
title: Solutions | lexicoi
postTitle: Solutions
lastModifiedDate: October 1st, 2018
---

<article class="bg-black helvetica pv5-ns white">
  <div class="mw9 center w-100 ph7-l">
    <h1 class="f3 f1-m f-headline-l">Solutions</h1>
    <div class="f5 f4-ns ph3">
      our mission is simple:
      <div class="b"> remove all barriers to improvement.</div>

      See what we've come up so far:
    </div>
  </div>
</article>

<article class="helvetica pv5-ns">
  <div class="mw9 center w-100 ph7-l">
    <div class="outline flex flex-wrap pv4">
      <div class="w-30"><div class="w4-ns h4-ns h-100 w1 center bg-gold"></div></div>
      <div class="w-70">
        <a href="https://rankables.org" class="db link dim black b f4 underline pv2">rankables</a>
        <div>
          Never worry about what you have to do every again. With a simple
          prioritization algorithm, rankables keeps all of your tasks prioritized. Guaranteed.
        </div>

        <a class="db link dim f5 f4-ns black pt2" href="/solutions/rankables">
          learn more
        </a>
      </div>
    </div>
  </div>
</article>
