---
layout: blank.njk
---

<main>
  <article class="bg-black helvetica pv3 pv5-ns white">
    <div class="mw9 center w-100 ph7-l ph3">
      <div class="flex flex-items">
        <div class="w-50">
          <h1 class="f3 f1-ns">rankables</h1>
          <div class="f3">
            Never forget what you should be doing <span class="b">ever again.</span>
          </div>
          <div class="mt3">
            <a class="ph2 pv1 f5 bg-blue white" href="https://rankables.org">Try it out</a>
          </div>
        </div>
      </div>
    </div>
  </article>

  <article class="helvetica pv3 pv5-ns">
    <div class="mw9 center w-100 ph7-l ph3">
      <div class="sans-serif">
        <div class="f2 db pv4">
          <div class="f1 b">Just done. Not to-do.</div>
        </div>

        <div class="fw1 pb4">
          A flexible framework for prioritizing items.
        </div>
      </div>

      <div class="pv5 relative sans-serif">
        <div class="ttu f7">features</div>
        <div class="mb3">
          <div class="b f3 pv2">Automatic-prioritization</div>
          <div class="w-50-ns">rankables has you answer a simple question for each item, and its unique algorithm automatically priotizes everything for you.
          </div>
        </div>
        <div class="w-50-ns dib bottom--1 right-1">
          <div class="b f3 pv2">Offline-first</div>
          <div class="mr5-ns">Your life, your data. With or without internet rank your items, tasks, movies, groceries, whatever. And when you have internet everything will be synced up. Safe and sound.</div>
        </div>
      </div>
    </div>
  </article>

  <article class="helvetica pv3 pv5-ns bg-black white">
    <div class="mw9 center w-100 ph7-l ph3">
      <div class="f1 b">
        Pricing
      </div>

      <div class="flex flex-wrap w-100 center-l">
        <div class="w-25-ns w-100 outline ph4 pv4 mv0-ns mv4 mh1-ns">
          <div class="pb3">
            <div class="f4 tc b pv2">Free</div>
            <div class="f1 tc">$0</div>
            <div class="f5 tc">per month</div>
            <div class="bb b--white pt3"></div>
          </div>
          <div>
            <div>* Free updates</div>
            <div>* Use the core tool</div>
            <button class="pa2 bg-white black tc b dim bn pointer w-100 mv3">Start</button>
          </div>
        </div>

        <div class="w-40-ns w-100 outline ph4 pv4 mv0-ns mv4 mh1-ns">
          <div class="pb3">
            <div class="f4 tc b pv2">Supporter</div>
            <div class="f1 tc">$2</div>
            <div class="f5 tc">per month</div>
            <div class="bb b--white pt3"></div>
          </div>
          <div>
            <div>Everything in "Free"</div>
            <div>Sync to other devices</div>
            <button class="pa2 bg-white black tc b dim bn pointer w-100 mv3">Start</button>
          </div>
        </div>

        <div class="w-25-ns w-100 outline ph4 pv4 mv0-ns mv4 mh1-ns">
          <div class="pb3">
            <div class="f4 tc b pv2">Improver</div>
            <div class="f1 tc">$8</div>
            <div class="f5 tc">per month</div>
            <div class="bb b--white pt3"></div>
          </div>
          <div>
            <ul>
              <li>Everything in "Supporter"</li>
              <li>Beta access</li>
            </ul>
            <button class="pa2 bg-white black tc b dim bn pointer w-100 mv3">Start</button>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>
